:root
  +colorVar(c-brand-1, #253957)
  +colorVar(c-brand-2, #344d71)
  +colorVar(c-brand-3, #3a557c)
  +colorVar(c-brand-4, #466289)
  +colorVar(c-brand-5, #516e96)
  +colorVar(c-brand-6, #4771af)
  
  +colorVar(c-accent-1, #de9e20)
  +colorVar(c-accent-2, #f6b431)
  
  +colorVar(c-gray-1, #63727a)
  +colorVar(c-gray-2, #61757f)
  +colorVar(c-gray-3, #83969f)
  +colorVar(c-gray-4, #aeb3ba)

  +colorVar(c-light-1, #ecedf1)
  +colorVar(c-light-2, #fbfbfb)
  +colorVar(c-light-3, #fafdfd)
  +colorVar(c-light-4, #ffffff)

  
  --f-main: 'Montserrat'
  --f-secondary: 'Raleway'
  --f-third: 'Ubuntu'
  --f-fourth: 'Open Sans'

  --gutters: 15px