mixin phone-number(data)
  address.phone-number
    a.phone-number__call-btn(href='tel:+1300 555 555') 
      i.icon-phone
    //- TODO: fix telephone link
    span.phone-number__number.stretch-outside-viewport 1300 555 555