include ../../components/_hero/_hero.pug
include ../../components/_logo/_logo.pug
include ../../components/_socials/_socials.pug
include ../../components/_phone-number/_phone-number.pug
include ../../components/_entrol/_entrol.pug
include ../../components/_btn/_btn.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&family=Open+Sans&family=Raleway:wght@300;500&family=Ubuntu:wght@500&display=swap' rel='stylesheet')
    title Profile
  body
    .wrapper
      block content