mixin socials(data)
  ul.socials
    li.socials__item
      a.socials__link(href='#')
        i.icon-linkedin
    li.socials__item
      a.socials__link(href='#')
        i.icon-facebook
    li.socials__item
      a.socials__link(href='#')
        i.icon-twitter